*.class
*.log
.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

#Intellij
.idea
*.iml
docs/SwayDB_doco/
# these files are copy of the SwayDB.stress & SwayDB.performance modules used for quick tests only.
/embedded/src/test/scala/swaydb/StressSpec.scala
/embedded/src/test/scala/swaydb/SpeedSpec.scala